version: "3.7"

services:

  web:
    image: nginx:1.17
    ports:
      - 80:80
    volumes:
      - ./src:/var/www/moodle
      - ./site.conf:/etc/nginx/conf.d/site.conf
    depends_on:
      - php

  php:
    image: gcr.io/unifavela-moodle/moodledocker_php@sha256:8d2618e579c035716be53e966961f167da7aa92ca65b7151e59ce65a0e984bb9
    volumes:
      - ./src:/var/www/moodle
      - ./php.ini:/usr/local/etc/php/php.ini
