version: "3.7"

services:

  web:
    image: nginx:1.17
    ports:
      - 5001:80
    volumes:
      - ./src:/var/www/moodle
      - ./site.conf:/etc/nginx/conf.d/site.conf
    depends_on:
      - php

  php:
    build: .
    volumes:
      - ./src:/var/www/moodle
      - ./php.ini:/usr/local/etc/php/php.ini
    # depends_on:
    #   - database

#   database:
#     image: postgres:alpine
#     ports:
#       - 5432:5432
#     environment:
#       - POSTGRES_USER=moodleuser
#       - POSTGRES_PASSWORD=123456
#       - POSTGRES_DB=moodle
#     volumes:
#       - database-data:/var/lib/postgresql/data/

# volumes:
#   database-data:
